<h1>VRTEX Moon Catalog</h1>

<div>
	<p>
		This tool is designed to parse the new "Copy to Clipboard" feature that was deploied in the EvE online Expansion Lifeblood.  Simply paste the data from your clipboard into the field and send it off for cataloging.  
	</p>
	<p>
		Currently this parser is a 3 step process
		<ol>
			<li>1) Data is checked for validity by a simple string check, to make sure you acutally put the correct data in the form.</li>
			<li>2) Data is checked with ESI and each entry is then flagged as valid if all checks come back true.</li>
			<li>3) Data re-written in a final format and will be avalable for search in the catalog to authorized parties.</li>
		</ol>
		Please note that this site is a work in progress and any errors or issues you have can be reported to the in-game character Bahnd Rollard.
	</p>
</div>

<%= render 'form' %>

<%= link_to 'Back', entries_path %>
