<h1>VRTEX Moon Registry</h1>

<div class='well'>Find systems by searching in the <%= link_to 'Catalog', regions_path, class: "btn btn-default" %> or search for system names (must be exact) or by moon ID number.</div>

<h2>Instructions for data entry</h2>
<ol>
	<li>1) Create a login / Sign in.</li>
	<li>2) Go to the <%= link_to '"New Entry"', new_entry_path %> Page.</li>
	<li>3) Use the new in-game "Copy to Clipboard" feature in the moon scanner, copy the data into the text area and submit.</li>
	<li>4) ???</li>
	<li>5) Profit!!!</li>
</ol>