<h1>Search List</h1>
<%= will_paginate @results %>
<% if @mapped_results != nil %>
<% @mapped_results = @results.map(&:moon_id).uniq %>
	<% @mapped_results.each do |catalog| %>
		<%= render 'moon_graph', :@data => catalog, :@entry => @entry_results %>
	<% end %>
<% end %>
