User Index
<%= will_paginate @user, class: "float-right" %>

	<% @user.each do |user| %>
	<div>
		<%= user.id %> | <%= user.email %> | <%= user.flags.to_s %> <% if user.admin == true %>*<% end %>

	</div>
	<% end %>
