body {
	min-width: 1200px !important;
	padding-top: 70px;
}

div {
	/*border: 1px solid #000;*/
	padding: 5px;
}

td {
	padding: 5px !important;
	border-bottom: 1px solid #000;
}
th {
	padding-right: 15px !important;
}

.opacity-90 {
	opacity: .9;
}
.opacity-75 {
	opacity: .75;
}
.opacity-50 {
	opacity: .5;
}
.opacity-25 {
	opacity: .25;
}

.mb-0{
margin-top: 0px !important;
margin-bottom: 0px !important;
}

#basic-addon2 {
	width: 100% !important;
}

.navbar {
	background-color: rgb(5, 20, 50) !important;
	color: #a7a7a7 !important; 
}

.login {
	float: right;
}

.notice {
	float: right;
}

.hidden {
	visibility: hidden;
	display: none;
}

#custom-handle {
	width: 45px;
	height: 25px;
	margin-top: -5px;
	text-align: center;
}

.material_input {
	border: 1px solid #000;
}

.slider {
	margin-top: 30px;
	/*width: 15%;*/
}

.card-body {
	/*min-height: 100px;*/
	min-width: 450px;
}

.moon_data {
	max-width: 500px;
	margin: 0px;
}

.well {
	padding: 0px !important;
	font-size: 16px;
	text-align: center;
	padding-top: 5px !important;
	padding-bottom: 5px !important;

}

.inactive {
	color: lightgrey !important;
}

.wrapper {
	margin-bottom: 15px;
	height: 100px;
}

.material_rock {
	background-color: #D3D3D3  !important;
	border-top-left-radius: 5px;
}
.material_rock:hover {
	background-color: #B3B3B3  !important;
}
.material_rock_exp {
	background-color: #B3B3B3  !important;
	padding: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	display: none;
}

.material_R4 {
	background-color: #778899  !important;
}
.material_R4:hover  {
	background-color: #556677 !important;
	color: #ffffff;
}
.material_R4_exp {
	background-color: #556677  !important;
	padding: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	color: #ffffff;
	display: none;
}

.material_R8 {
	background-color: green !important;
}
.material_R8:hover {
	background-color: #006400 !important;
	color: #ffffff;
}
.material_R8_exp {
	background-color: #006400  !important;
	padding: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	color: #ffffff;
	display: none;
}

.material_R16 {
	background-color: #0000FF !important;
}
.material_R16:hover {
	background-color: #00008B !important;
	color: #ffffff;
}
.material_R16_exp {
	background-color: #00008B  !important;
	padding: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	color: #ffffff;
	display: none;
}

.material_R32 {
	background-color: #800080 !important;
}
.material_R32:hover {
	background-color: #500050  !important;
	color: #ffffff;
}
.material_R32_exp {
	background-color: #500050  !important;
	padding: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	color: #ffffff;
	display: none;
}

.material_R64 {
	background-color: #FFA500 !important;
	border-top-right-radius: 5px;

}
.material_R64:hover {
	background-color: #FF8C00 !important;
	color: #ffffff;
}
.material_R64_exp {
	background-color: #FF8C00  !important;
	padding: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	color: #ffffff;
	display: none;
}

.material_listing {
	padding: 2px;
}

.flagged_row {
	background-color: #D3D3D3;
}

#pie-chart {
	height: 350px !important;
	width: 450px !important;
	/*float: right;*/
	border: 1px solid #000;
}
.info_table {
	color: #000 !important;
}
.value_cell {
	padding-left: 35px !important;
}

.repro_breakdown {
	width: 250px;
}

.dashboard_headder {
	border-top: 2px solid #999;
	border-bottom: 1px solid #999;
}